<section class="mb-4">
  <h3>Comments</h3>
  <disqus [identifier]="pageUrl" [url]="pageUrl"></disqus>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
  </noscript>
</section>
