<div class="d-flex align-items-center mb-3">
  <app-post-rating [postId]="post.id" [rating]="post.rating"></app-post-rating>
  <a
    class="badge rounded-pill d-flex align-items-center px-3 me-3"
    [routerLink]="getPostUrl()"
    [fragment]="'disqus_thread'"
    title="Comments"
  >
    <i class="bi bi-chat-left-fill fs-5 me-1"></i>
    <span class="disqus-comment-count" [attr.data-disqus-url]="getPostUrl(true)">0</span>
  </a>
  <span class="badge rounded-pill d-flex align-items-center px-3 me-3" [attr.title]="post.views + ' views'">
    <i class="bi bi-eye-fill fs-5 me-1"></i>
    <span class="post-views">{{ post.views }}</span>
  </span>
  <a
    [routerLink]="['/admin', 'edit-post', post.id]"
    class="badge rounded-pill d-flex align-items-center px-3 me-3"
    *ngIf="isAuthorized"
  >
    <i class="bi bi-pencil-fill fs-5"></i>
  </a>
</div>
