<app-widget [title]="'Affiliate Disclosure'" class="d-none d-lg-block">
  <p class="px-3 fst-italic">
    developer-interview.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising
    program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com
  </p>
</app-widget>
