<app-widget [title]="'Categories'">
  <ul *ngIf="categories" class="nav flex-column">
    <li *ngFor="let category of categories" class="nav-item">
      <a
        [routerLinkActive]="['active']"
        [routerLink]="getCategoryUrl(category)"
        class="nav-link d-flex justify-content-between align-items-center"
      >
        <span>{{ category.title }}</span>
        <span class="badge bg-primary">{{ category.postsCount }}</span>
      </a>
    </li>
  </ul>
  <div *ngIf="!categories" class="text-center mb-2">
    <div appSpinner></div>
  </div>
</app-widget>
