@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@include media-breakpoint-between(md, lg) {
  a.nav-link {
    font-size: 0.8rem;
  }
}

a.nav-link.active {
  color: var(--app-color-orange);

  .badge {
    background-color: var(--app-color-orange) !important;
  }
}
