<a
  *ngIf="tag"
  [routerLink]="getTagUrl(tag)"
  [routerLinkActive]="['active']"
  class="btn btn-sm btn-outline-primary p-1 mb-1 me-1"
>
  <span>{{ tag.title }}</span>
  <span class="badge bg-primary ms-1" *ngIf="showCounter">{{ tag.postsCount }}</span>
</a>
