<div *ngIf="posts && posts.data">
  <app-post *ngFor="let post of posts.data" [post]="post"></app-post>
  <app-pagination
    *ngIf="showPagination"
    [pages]="pages"
    [currentPage]="posts.page"
    [routeBase]="paginationRouteBase"
  ></app-pagination>
</div>
<div *ngIf="!posts" appSpinner></div>
