<footer class="d-none d-md-block border-top bg-light text-muted container-fluid text-center">
  <div class="my-auto">© {{ year }} {{ domainName }} — prepare yourself for the next interview</div>
</footer>
