<nav *ngIf="pages && pages.length > 1">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" [routerLink]="[routeBase, currentPage - 1]" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li
      *ngFor="let page of pages"
      class="page-item"
      [routerLinkActive]="'active'"
      [ngClass]="{ active: currentPage === page && page === 1 }"
    >
      <a class="page-link" [routerLink]="[routeBase, page]">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === pages.length">
      <a class="page-link" [routerLink]="[routeBase, currentPage + 1]" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
