<app-widget [title]="'About this site'" class="d-none d-lg-block">
  <p class="px-3 fst-italic">
    This web site is dedicated to technical interview questions and answers for software developers. Thanks for visiting
    us!
  </p>
  <p class="px-3">
    Launched
    <strong>{{ daysAgo }}</strong>
    days ago
  </p>
</app-widget>
