<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm border-bottom">
    <div class="container-lg">
      <a [routerLink]="['/']" class="navbar-brand font-weight-bolder d-flex">
        <img src="android-chrome-192x192.png" alt="logo" class="logo" />
        Dev.Interview
      </a>
      <button
        (click)="toggle()"
        [attr.aria-expanded]="isExpanded"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-target=".navbar-collapse"
        data-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngClass]="{ show: isExpanded }" class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
        <app-search-form></app-search-form>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a [routerLink]="['/top-rated']" [routerLinkActive]="['active']" class="nav-link text-dark px-3">
              <span class="glyph"></span>
              <span>Top Rated</span>
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item">
            <a [routerLink]="['/most-viewed']" class="nav-link text-dark px-3">Most Viewed</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
