<form [formGroup]="postEditForm" (ngSubmit)="savePost()">
  <div class="form-group mb-4">
    <label class="control-label">Title</label>
    <div class="row">
      <div class="col-10">
        <input type="text" formControlName="title" class="form-control" />
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary" (click)="getSimilarPosts()">Check similar</button>
      </div>
    </div>
  </div>
  <div class="form-group mb-4" *ngIf="similarPosts.length > 0">
    <label class="control-label">Similar posts</label>
    <div class="input-group">
      <ul>
        <li *ngFor="let post of similarPosts">{{ post.title }}</li>
      </ul>
    </div>
  </div>
  <div class="form-group mb-4">
    <label class="control-label">Description</label>
    <div class="input-group">
      <input type="text" formControlName="description" class="form-control" />
    </div>
  </div>
  <div class="form-group mb-4">
    <label class="control-label">Category</label>
    <div class="input-group">
      <select class="form-control" formControlName="category">
        <option *ngFor="let cat of categories" [ngValue]="cat">{{ cat.title }}</option>
      </select>
    </div>
  </div>
  <div class="form-group mb-4">
    <label class="control-label">Tags</label>
    <div class="col-md-12">
      <angular2-multiselect
        formControlName="tags"
        [data]="tags"
        [settings]="multiselectSettings"
      ></angular2-multiselect>
    </div>
  </div>
  <div class="form-group mb-4">
    <label class="control-label">Body Start</label>
    <div class="input-group">
      <ckeditor [editor]="ckEditor" formControlName="bodyStart"></ckeditor>
    </div>
  </div>
  <div class="form-group mb-4">
    <label class="control-label">Body End</label>
    <div class="input-group">
      <ckeditor [editor]="ckEditor" formControlName="bodyEnd"></ckeditor>
    </div>
  </div>
  <div class="form-group mb-4">
    <label class="control-label">Is Visible</label>
    <div class="input-group">
      <input type="checkbox" formControlName="isVisible" />
    </div>
  </div>
  <div class="mb-4">
    <button type="submit" class="btn btn-primary me-2" [disabled]="postEditForm.invalid">Save</button>
    <button type="button" class="btn btn-danger" (click)="deletePost()">Delete</button>
  </div>
</form>
