<div class="jumbotron mb-4 rounded">
  <h1 class="display-6">Software Engineering Interview Questions With Answers</h1>
</div>
<app-post-list [paginationRouteBase]="routeBase$ | async" [posts]="posts$ | async"></app-post-list>
