<app-widget [title]="'Tags'">
  <nav class="nav py-2 px-3">
    <app-tag-link *ngFor="let tag of tags" [tag]="tag"></app-tag-link>
  </nav>
  <div *ngIf="!tags" class="text-center mb-2">
    <div appSpinner></div>
  </div>
</app-widget>
