<div class="jumbotron mb-4 rounded">
  <h1 class="display-6">Top Rated Interview Questions For Software Engineers</h1>
</div>
<app-post-list [paginationRouteBase]="'/p'" [showPagination]="false" [posts]="posts$ | async"></app-post-list>
