<article class="border rounded px-3 py-3 mb-4">
  <header>
    <div *ngIf="post.bodyEnd" class="jumbotron mb-4">
      <h1>{{ post.title }}</h1>
    </div>
    <h2 *ngIf="!post.bodyEnd" class="mb-4">
      <a [routerLink]="getPostUrl()">{{ post.title }}</a>
    </h2>
    <app-post-info [post]="post"></app-post-info>
  </header>
  <div [innerHTML]="post.bodyStart | safeHtml" id="postBodyStart"></div>
  <div *ngIf="post.bodyEnd" [innerHTML]="post.bodyEnd | safeHtml" id="postBodyEnd"></div>
  <hr class="my-4" />
  <footer class="d-flex justify-content-between">
    <span>
      <app-tag-link *ngFor="let tag of post.tags" [showCounter]="false" [tag]="tag"></app-tag-link>
    </span>
    <span class="text-right">
      <time>{{ post.created | date }}</time>
      in
      <a [routerLink]="getCategoryUrl()">{{ post.category?.title }}</a>
    </span>
  </footer>
</article>
<div *ngIf="post.bodyEnd">
  <app-similar-posts [postId]="post.id"></app-similar-posts>
  <app-comments></app-comments>
</div>
