@import 'variables';
@import 'directives';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: calc(#{var(--bar-height)} + 1.5rem);
  margin-bottom: var(--bar-height);
}

code {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: var(--bs-border-radius-sm);
  padding: 2px;
  background-color: var(--bs-light);
  color: var(--bs-body-color);
}

pre {
  overflow-x: auto;
  background-color: var(--bs-light);
  border-left: var(--bs-border-radius) solid var(--app-color-orange);
  border-radius: var(--bs-border-radius);
  padding: 10px;
  color: var(--bs-body-color);

  code {
    border: none;
    border-radius: 0;
    padding: 0;
    color: var(--bs-body-color);
  }
}

article img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.badge.rounded-pill {
  background-color: var(--bs-light);
  color: var(--bs-gray-800);

  &.user-voted {
    color: var(--app-color-orange);
  }

  &.post-rating:hover:not(.user-voted) {
    background-color: var(--app-color-orange);
  }
}

@media (min-width: 576px) {
  .jumbotron {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    border-left: var(--bs-border-radius) solid var(--app-color-orange);
    background-color: rgba(var(--bs-light-rgb), 1);
    padding: 2rem;
  }
}
