<form class="ms-3 d-flex align-items-center" [formGroup]="searchForm" (ngSubmit)="search()">
  <input
    type="text"
    class="form-control d-inline me-2"
    placeholder="Search"
    aria-label="Search"
    [formControlName]="'query'"
    #query
  />
  <button class="btn btn-outline-secondary" type="submit" [disabled]="query.value.length <= 2">Search</button>
</form>
