<div class="jumbotron mb-4">
  <h1 class="display-6">Software Engineering Interview Questions With Answers</h1>
</div>
<app-post-list [paginationRouteBase]="'/p'" [posts]="posts$ | async"></app-post-list>
