<section>
  <nav *ngIf="posts$ | async">
    <h3>Similar articles</h3>
    <ul>
      <li *ngFor="let post of posts$ | async">
        <a [routerLink]="getPostUrl(post)">
          {{ post.title }}
        </a>
      </li>
    </ul>
  </nav>
  <div *ngIf="(posts$ | async) === null" class="text-center">
    <div appSpinner></div>
  </div>
</section>
