<span
  (click)="votePost(!votedUp)"
  [ngClass]="{ 'user-voted': votedUp, disabled: !canVote }"
  class="badge rounded-pill d-flex align-items-center px-3 me-3 post-rating"
  [attr.title]="(rating?.votesUp || 0).toString() + ' thumbs up'"
>
  <i class="bi bi-hand-thumbs-up-fill fs-5 me-1"></i>
  <span>{{ rating?.votesUp || 0 }}</span>
</span>
