<app-nav-menu></app-nav-menu>
<div class="container-lg">
  <div class="row row-cols-1">
    <main class="col col-lg-9 order-last order-lg-first">
      <router-outlet></router-outlet>
    </main>
    <aside class="col col-lg-3 order-first order-lg-last">
      <app-sidebar-container></app-sidebar-container>
    </aside>
  </div>
</div>
<app-footer></app-footer>
